.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 3px;
}

.container:last-child {
  margin-bottom: 0;
}

.container + .container {
  margin-top: 10px;
}

.description {
  margin: 0;
}

.details {
  text-align: right;
  color: #999;
  margin-right: 10px;
}

.details__detail {
  margin-bottom: 5px;
}

.actions{
    width: 30px;
}

.right_panel{
    display: flex;
}

.container a,
.container a:link,
.container a:visited {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

.container a:hover,
.container a:active,
.container a:focus {
  color: inherit;
  text-decoration: underline;
}

.done {
  color: #999;
  background: #eee;
}

.working {
  color: #999;
  background: #eee;
}
