.container {
  display: block;
  position: relative;
  width: 100%;
  border: 1px solid #eee;
}

.header {
  background: #202D38;
  color: white;
  padding: 3px 5px;
}

.title {
  margin: 0;
}

.body {
  padding: 5px;
}
