.label {
  display: block;
  padding: 0;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  display: block;
  padding: 5px 8px;
  margin: 0 0 5px;
  background: white;
  border: 1px solid #e0e0e0;
  outline: 0;
  line-height: 1em;
  font-size: 1em;
  box-sizing: border-box;
}

.input:focus {
  border-color: #202D38;
}
