.rcalendar{
    background-color: #eee;
    /*-moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;*/
    /*box-shadow: 0 0 5px #ccc;*/
    font: normal 15px Helvetica Neue, Helvetica, Arial, sans-serif;
    min-width: 280px;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin-bottom: 25PX;
}
.rcalendar *{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.rcalendar .rrow{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
}
.rcalendar .rcell{
    background-color: #ffffff;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.rcalendar .rhead{
    flex-grow: 1;
    flex-basis: 0;
}
.rcalendar .rprev,
.rcalendar .rnext{
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
}
.rcalendar .rprev:before,
.rcalendar .rnext:before{
    position: relative;
    top: 0;
    content: "";
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    border-top: 0.2em solid #222222;
    transform: rotate(-45deg);
}
.rcalendar .rprev:before{
    border-left: 0.2em solid #222222;
    transform: rotate(-45deg);
    margin-left: 0.3em;
}
.rcalendar .rprev:hover:before{
    border-left-color: #ffffff;
    border-top-color: #ffffff;
}
.rcalendar .rnext:before{
    borderright: 0.2em solid #222222;
    transform: rotate(45deg);
    margin-right: 0.3em;
}
.rcalendar .rnext:hover:before{
    borderright-color: #ffffff;
    border-top-color: #ffffff;
}
.rcalendar .rprev:hover,
.rcalendar .rnext:hover{
    background-color: #0066CC;
}
.rcalendar .r-title{
    flex-grow: 5;
    flex-basis: max-content;
}
.rcalendar .rweekdays{
    flex-grow: 1;
    flex-basis: 0;
}
.rcalendar .rweekdays .rcell{
    font-weight: bold;
}
.rcalendar .rdates{
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 6;
    flex-basis: 0;
}
.rcalendar .rdates.r-fix{
    flex-grow: 5;
}
.rcalendar .rdates .rrow{
    flex-grow: 1;
}
.rcalendar .rdates .rcell{
    background-color: #ffffff;
    border: solid 1px #ffffff;
}
.rcalendar .rcell.rdate{
    cursor: pointer;
    outline: none;
}
.rcalendar .rcell.rdate.r-today{
    background-color: #ffffff;
    border: solid 1px #0066CC;
}
.rcalendar .rcell.rdate:not(.rpast):hover{
    background-color: #0066CC;
    border: solid 1px #0066CC;

}
.rcalendar .rcell.rdate.rselected{
    background-color: #000000;
    border: solid 1px #000000;
    color: #fff;
}
.rcalendar .rcell.rdate.rpast{
    color: #999999;
    cursor: not-allowed;
}
.rcalendar .rweeknum{
    color: #999999;
    font-size: 0.8em;
}
.rcalendar{
    position: relative;
    width: 100%;
}
.rcalendar:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.rcalendar .rinner{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.bluehover:hover{
    background-color: rgb(32, 45, 56);
    border-radius: 3px;
    color: white;
}
